@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --default-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  /* Neutral */
  --white-main-pgph: hsla(0, 0%, 100%, 0.75);
  --white-stat-headings: hsla(0, 0%, 100%, 0.6);
  --white: hsl(0, 0%, 100%);
}

/* Desktop */
body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: var(--white-main-pgph);
  background-color: var(--default-bg);
}

.accent {
  color: var(--accent);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 8rem;
}

/* Text Only */
#cta {
  padding: 4rem;
  background-color: var(--card-bg);
  border-radius: 5px 0 0 5px;
}

#cta > p {
  padding-bottom: 4rem;
}

#cta h1 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

/* Stats */
#stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#stats > div > h3 {
  padding-bottom: 0.5rem;
}

#stats > div > p {
  text-transform: uppercase;
  font-size: 12px;
}

/* Image */
#graphic {
  background-color: var(--accent);
  border-radius: 0 5px 5px 0;
}

img {
  border-radius: 0 5px 5px 0;
  opacity: 0.5;
  filter: contrast(120%);
}

/* Mobile */
@media (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 15px;
    padding-top: 3rem;
    width: 100%;
    margin: 0;
  }

  #cta {
    grid-row: 2;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }

  #stats {
    display: grid;
    grid-template-columns: 100%;
  }

  #stats > .card {
    justify-self: center;
    padding: 0;
  }

  #graphic {
    grid-row: 1;
    border-radius: 10px 10px 0 0;
  }

  img {
    grid-row: 1;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}
