@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::before,
::after {
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --default-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  /* Neutral */
  --white-main-pgph: hsla(0, 0%, 100%, 0.75);
  --white-stat-headings: hsla(0, 0%, 100%, 0.6);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--default-bg);
  border: 2px solid red;
  width: 1440px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.wrapper {
  position: relative;
  display: flex;
  height: 689px;
  width: 1073px;
  border: 2px solid yellow;
}

.body-text {
  padding: 0 100px 20px 64px;
}

.hero {
  font-size: 30px;
  font-weight: 700;
  padding: 70px 100px 20px 64px;
}

.hero > span {
  color: var(--accent);
}

.card {
  position: relative;
  top: 135px;
  left: 170px;
  height: 370px;
  text-align: left;
  color: var(--white);
  background-color: var(--card-bg);
}
